<!-- This is where the student can only see the added courses -->
<!DOCTYPE html>
<html>
    <head>

    </head>
    <div id="class_input" class="class_input">
    <label for="add-class">Add Class Name: </label>
    <input type="text" placeholder="Add Class Name..." id="add_class">
    <button id="add-_class-_btn">Add Class!</button>
    </div>
   
    <body id="body">
        <table class="table">
            <thead>
                <tr>
                    <td>
                        Classes
                    </td>
                </tr>
            </thead>
            <tbody id="class_table">
                <tr>
                    <td>
                        Dud Class One
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>