<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/styles/pageTwo.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/navBar.css" />
    <script type="module" src="../static/js/app.js"></script>
    <script type="module" src="../static/js/pageTwo.js"></script>
    <style>
 
    </style>
</head>

<body>
    <div id="navBar"></div>
    <div class="container">
        <div class="left-column">
            <h1>Morse Code to String</h1>
            <h3>Type in full morse with spaces and click enter to see the string</h3>
            <img src="../static/misc/morse-code.png" alt="morse-code-picture">
        </div>
        <div class="right-column">
            <div class="center">
                <label for="userInputMorse">Enter Morse Code:</label>
                <input type="text" placeholder="Enter text " id="userInputMorse">
                <div class="translateText" id="translateText"></div>
            </div>
        </div>
    </div>
</body>

</html>
