<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/styles/pageTwo.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/navBar.css" />
    <script type="module" src="../static/js/app.js"></script>
    <script type="module" src="../static/js/pageTwo.js"></script>
</head>

<body>
    <div id="navBar"></div>
    <label for="user_input">Enter name: </label>
    <input type="text" id="user_input" class="user-input">
    <button id="submit_btn" class="submit-btn"><a href="pageTwo/submit">Submit Button</a></button>
</body>

</html>
