<!DOCTYPE html>
<!-- Counter that has a pop up after 10 clicks -->
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/styles/navBar.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/pageOne.css" />
    <script type="module" src="../static/js/app.js"></script>
    <script type="module" src="../static/js/pageOne.js"></script>
  </head>

  <body>
    <div id="navBar"></div>
    <label class="center">The current date is: </label>
    <div id="currentDate" class="current-date"></div>
  </body>
</html>
