<!DOCTYPE html>
<html>
    <!-- Make this a different web app -->
    <head>
        <link rel="stylesheet" type="text/css" href="../static/styles/navBar.css" />
        <script type="module" src="../static/js/app.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/styles/pageThree.css" />
        <script type="module" src="../static/js/pageThree.js"></script> 
    </head>
    <body>
        <div id="navBar"></div>
        <h3>Welcome to Page three!</h3>
        <div class="center">
            <form>
            <label for="username">Username: </label>
            <input type="text" id="username" placeholder="Username...">
            <label for="password">Password: </label>
            <input type="text" id="password" placeholder="Password...">
        
        </form>
        </div>
          <div class="below">
                <label for="student">Student: </label>
                <input type="radio" id="student">
                <label for="faculty">Faculty</label>
                <input type="radio" id="faculty">
                <button id="submit_btn" >Submit login form!</button>
            </div>
    </body>
</html>