<!DOCTYPE html>
<html>
    <!-- Make this a different web app -->
    <head>
        <link rel="stylesheet" type="text/css" href="../static/styles/navBar.css" />
        <script type="module" src="../static/js/app.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/styles/pageThree.css" />
    </head>
    <body>
        <div id="navBar"></div>
        <div class="center">
               <div class="loading-circle"><h3 class="loading-text">Loading...</h3></div>
        </div>
     
    </body>
</html>