<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/styles/pageTwo.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/navBar.css" />
    <script type="module" src="../static/js/app.js"></script>
    <script type="module" src="../static/js/pageTwo.js"></script>
</head>

<body>
    <div id="navBar"></div>
    <form action="/pageTwo/submit" method="post">
        <label for="user_input">Enter something:</label>
        <input type="text" id="user_input" name="user_input">
        <input type="submit" value="Submit">
    </form>
</body>

</html>
