<!DOCTYPE html>
<!-- Counter that has a pop up after 10 clicks -->
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/styles/navBar.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/pageOne.css" />
    <script type="module" src="../static/js/app.js"></script>
    <script type="module" src="../static/js/pageOne.js"></script>
  </head>

  <body>
    <div id="navBar"></div>
    <div class="center">
       <button id="counterBtn" class="big-button">Click Me!</button> 
</div> 
 <div id="myPopup" class="popup">
      <div class="popup-content">
        <h1 style="color: green">Number of Clicks surpassed!</h1>
        <p>Will need to make a transaction of 0.05 dollars</p>
        <button id="closePopup">Close</button>
      </div>
    </div>  
<div class="beneath-btn">
    <div id="counter" class="big-number"></div>
</div>

  </body>
</html>
